.title{
    color: white;
    font-family: "minefont";
	padding-top: 20px;
	padding: auto;
	font-size: 50px;
}

.container{
    background-color: #000000;
    background-image: url(src\assets\images\bright-squares.png);
	max-width: 100% !important;
}

.body{
    background-color: #00AA00;
    margin:0px;
}