<div class="formulario">
  <h1 class="ml-3 mr-3">Marcar visita</h1>
  <div class="row ml-3 mr-3 mt-3" [formGroup]="form" *ngIf="form">
    <div class="form-group col-sm-12 col-md-3">
      <label>Escolha uma data</label>
      <input
        class="form-control"
        [formControl]="date"
        matInput
        [matDatepickerFilter]="myFilter"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker" style="background-color: #fff; padding: 10px; border-radius: 10px"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>

  <div class="row justify-content-center">
    <button mat-button class="btn_enviar col-sm-8 col-md-4" (click)="submit()">
      MARCAR
    </button>
  </div>
</div>
