<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="title"
      ><h3>{{ homeObject.id }}</h3></mat-card-title
    >
    <mat-card-subtitle>{{ homeObject.address.neighborhood }},{{homeObject.address.city}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://via.placeholder.com/150" alt="Photo of House" />
  <mat-card-content class="description">
    <p>
      {{ homeObject.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="justify-content-center row">
    <button class="col-8 button" [routerLink]="'marcarVisita/' + homeObject.id" mat-button>MARCAR VISITA</button>
  </mat-card-actions>
</mat-card>
