/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'appfont';
    src: url('/fonts/Minecraft.ttf');
  }
  
  body {
    font-family: 'appfont';
  }