.btn_enviar{
    background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
	image-rendering: pixelated;
	border: 2px solid #000;
}

:hover .btn_enviar {
    background-color: rgba(100, 100, 255, .45);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}
:active .btn_enviar {
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}
/* Button title */
.btn_enviar {
    width: 200px; height: 100%;
    padding-bottom: .3em;
    
    color: #DDD;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}

.background{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}