<div class="formulario">
  <h1 class="ml-3 mr-3">Cadastro de Imovel</h1>
  <nav class="nav ml-3 mr-3 mt-2">
    <ul>
      <li><a>Casa</a></li>
      <li><a>Apartameto</a></li>
    </ul>
  </nav>
  <div class="row ml-3 mr-3 mt-3" [formGroup]="form" *ngIf="form">
    <label class="form-group col-12">Endereço</label>
    <div class="row ml-2" [formGroup]="address">
      <div class="form-group col-sm-12 col-md-6">
        <label for="street">Rua</label>
        <input type="text" id="street" class="form-control" formControlName="street"/>
      </div>
      <div class="form-group col-sm-6 col-md-2">
        <label for="number">Numero</label>
        <input type="number" id="number" class="form-control" formControlName="number"/>
      </div>
      <div class="form-group col-sm-6 col-md-4">
        <label for="cep">CEP</label>
        <input type="text" id="cep" class="form-control" formControlName="postalCode"/>
      </div>
      <div class="form-group col-sm-12 col-md-6" [formGroup]="neighborhood">
        <label>Bairro</label>
        <select id="neighborhood" name="neighborhood" class="form-control" formControlName="name">
          <option value="">Selecione um bairro</option>
          <option value="1">Bairro Zika 123</option>
          <option value="2">Bairro Zika 123</option>
          <option value="3">Bairro Zika 123</option>
          <option value="4">Bairro Zika 123</option>
          <option value="5">Bairro Zika 123</option>
          <option value="6">Bairro Zika 123</option>
        </select>
      </div>
    </div>

    <div class="form-group col-3">
      <label for="quartos">Quantos quartos?</label>
      <select id="quartos" name="quartos" class="form-control" formControlName="bedrooms">
        <option value="">Selecione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 ou mais</option>
      </select>
    </div>
    <div class="form-group col-3">
      <label for="suites">Quantas suites?</label>
      <select id="suites" name="suites" class="form-control" formControlName="suites">
        <option value="">Selecione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 ou mais</option>
      </select>
    </div>
    <div class="form-group col-3">
      <label for="salas">Quantas salas?</label>
      <select id="salas" name="salas" class="form-control" formControlName="livingRooms">
        <option value="">Selecione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 ou mais</option>
      </select>
    </div>

    <div class="form-group col-3">
      <label for="vagas">Quantas vagas na garagem?</label>
      <select id="vagas" name="vagas" class="form-control" formControlName="parkingSpots">
        <option value="">Selecione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 ou mais</option>
      </select>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label for="armario">Possui armario embutido?</label>
      <div class="form-check">
        <input
          type="radio"
          id="armarioSim"
          name="simArmario"
          value="true"
          class="form-check-input"
          formControlName="hasCloset"
        />
        <label for="casa" class="form-check-label"> Sim</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          id="armarioNao"
          name="naoArmario"
          value="false"
          class="form-check-input"
          formControlName="hasCloset"
        />
        <label for="apartamento" class="form-check-label"> Não</label>
      </div>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label for="rent">Qual o valor do aluguel?</label>
      <input type="number" id="rent" name="rent" class="form-control" formControlName="rent"/>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label for="rent">Qual o tamanho do imovel?</label>
      <input type="number" id="size" name="size" class="form-control" formControlName="size"/>
    </div>
    <div class="form-group col-12">
      <label for="description">Detalhes</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        cols="50"
        class="form-control"
        formControlName="description"
        placeholder="Digite detalhes adicionais"
      ></textarea>
    </div>
  </div>
  <div class="row justify-content-center">
    <button mat-button class="btn_enviar col-sm-8 col-md-4" (click)="submit()">
      Cadastrar
    </button>
  </div>
</div>
