<div>
<form class="formulario">
  <h1>Cadastro de Imovel</h1>
    <label for="adress">Endereço</label><br>
    <input type="text" id="adress" name="fname"><br>
    
    
    <label for="type">Tipo:</label><br>
    <input type="radio" id="casa" name="type" value="casa">
    <label for="casa"> Casa</label><br>
    <input type="radio" id="apartamento" name="type" value="apartamento">
    <label for="apartamento"> Apartamento</label><br>


    <label for="description">Detalhes</label><br>
    <input type="text" id="description" name="description"><br>
    
    <form>
        <label for="quartos">Quantos Quartos?</label>
        <select id="quartos" name="quartos">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </form>
     <form>
        <label for="quartos">Quantos Quartos?</label>
        <select id="quartos" name="quartos">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="4">5</option>
          <option value="4">6</option>
        </select>
      </form>
      <form>
        <label for="quartos">Quantos Quartos?</label>
        <select id="quartos" name="quartos">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </form>
      <form>
        <label for="suites">Quantas Suites?</label>
        <select id="suites" name="suites">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </form>
      <form>
        <label for="salas">Quantas Salas?</label>
        <select id="salas" name="salas">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </form>
  

    <form>
        <label for="vagas">Quantas Vagas?</label>
        <select id="vagas" name="vagas">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </form>
   

    <label for="armario">Possui Armario Imbutido?:</label><br>
    <input type="radio" id="armarioSim" name="simArmario" value="sim">
    <label for="casa"> Sim</label><br>
    <input type="radio" id="armarioNao" name="naoArmario" value="nao">
    <label for="apartamento"> Não</label><br>

    <label for="rent">Qual o Valor do Aluguel?</label><br>
    <input type="number" id="rent" name="rent"><br>
    
    <button mat-button class="btn_enviar">
      Cadastrar
    </button>

  </form>
</div>